## W3 Monday in Lecture Exercises & Solutions
1 Dec 2025

### 1. List Comprehension: The Zodiac Filter Challenge
Given this list of Chinese zodiac animals:

```python
zodiacs = ["rat", "ox", "tiger", "rabbit", "dragon", "snake", 
           "horse", "goat", "monkey", "rooster", "dog", "pig"]
```

#### Your Tasks:
**Part 1: Find the long names**
Create a new list called `long_names` containing only zodiac animals with 6 or more letters.
Expected output:
```
['rabbit', 'dragon', 'monkey', 'rooster']
```

In [ ]:
# Find all zodiac names with more than 4 letters and Fill in the blanks
zodiacs = ["rat", "ox", "tiger", "rabbit", "dragon", "snake", 
           "horse", "goat", "monkey", "rooster", "dog", "pig"]
           
# Starter code
long_names = [z for z in zodiacs if _____= _]
print("Part 1 - Long names:", ________)

**Part 2: Find animals with 'o'**
Create a new list called has_o containing only zodiac animals that have the letter 'o' anywhere in their name.
Expected output:
```
['dragon', 'horse', 'monkey', 'rooster', 'dog']
```

In [ ]:
# Part 2: Find animals with 'o' code:
zodiacs = ["rat", "ox", "tiger", "rabbit", "dragon", "snake", 
           "horse", "goat", "monkey", "rooster", "dog", "pig"]

# Starter code
o_names = [_______________ if "o" in z]
print("Part 1 - Names that contain 'o':", _________)

---


### 2. Tuples: Tuple Unpacking with Multiple Zodiacs

Create a list called `friend_zodiacs` containing 3 tuples. Each tuple should have:

- A friend's name (string)
- Their birth year (int)
- Their zodiac animal (string)


Loop through the list and use tuple unpacking to extract each piece of information

Print a sentence for each friend: "{name} was born in {year} and is a {zodiac}"

Example Output:
```
pythonAlice was born in 1995 and is a Pig
Bob was born in 1998 and is a Tiger
Carol was born in 2001 and is a Snake
```

In [ ]:
# Step 1: Create list of tuples
friend_zodiacs = [
    ('Alice', 1995, 'Pig'),
    ('Bob', 1998, 'Tiger'),
    ('Carol', 2001, 'Snake')
]

# Step 2 & 3: Loop with tuple unpacking
for name, year, zodiac in friend_zodiacs:
    print(f"{name} was born in ______ and is a _______")

---

### 3. Find Unique Zodiacs in Your Class
Instructions:

Create a list called class_zodiacs with these zodiac animals (some are repeated):
```python
['Rat', 'Ox', 'Tiger', 'Rat', 'Dragon', 'Snake', 'Rat', 'Tiger', 'Monkey', 'Ox']
```

2. Convert this list to a set called `unique_zodiacs`

3. Print both the original list and the set

4. Print how many students are in the class (length of list) and how many unique zodiacs there are (length of set)

**Expected Output:**
```
Original class: ['Rat', 'Ox', 'Tiger', 'Rat', 'Dragon', 'Snake', 'Rat', 'Tiger', 'Monkey', 'Ox']
Unique zodiacs: {'Rat', 'Ox', 'Tiger', 'Dragon', 'Snake', 'Monkey'}
Total students: 10
Unique zodiacs: 6

In [ ]:
# Step 1: Create the list
class_zodiacs = ['Rat', 'Ox', 'Tiger', 'Rat', 'Dragon', 'Snake', 'Rat', 'Tiger', 'Monkey', 'Ox']

# Step 2: Convert to set
unique_zodiacs = _____(class_zodiacs)

# Step 3: Print both
print("Original class:", class_zodiacs)
print("Unique zodiacs:", ____________)

# Step 4: Print counts
print("Total students:", len(_________))
print("Unique zodiacs:", len(________))

### 4. Dictionaries

In [ ]:
# Original dictionary
zodiacs = {"2020": "Rat", "2021": "Ox", "2022": "Tiger", 
           "2023": "Rabbit", "2032": "Rat"}

# Naive reversal
reversed_dict = {}
for year, animal in zodiacs._______():
    reversed_dict[animal] = year  # This overwrites earlier years!

print(reversed_dict)

In [ ]:
def reverse_dict(input_dict):
    """
    Reverse a dictionary, storing all original keys that had the same value in a list.
    
    Args:
        input_dict: Dictionary with potentially non-unique values
        
    Returns:
        Dictionary where values become keys, and keys are stored in lists
    """
    # Step 1: Initialize dictionary of lists
    reversed_dict = ____
    for value in input_dict.values():
        reversed_dict[value] = __
    
    # Step 2: Populate the lists
    for key, value in input_dict.items():
        reversed_dict[value]._____(key)
    
    return reversed_dict


# Test the function
zodiacs = {"2020": "Rat", "2021": "Ox", "2022": "Tiger", 
           "2023": "Rabbit", "2032": "Rat"}

result = reverse_dict(_____)
print(result)